<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sim-VR</title>
<link href="/lib/css/fonts.css" rel="stylesheet">
<link rel="stylesheet" href="/lib/css/bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-material-design.min.css">
<link rel="stylesheet" type="text/css" href="/lib/css/ripples.min.css">